<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.recommender.db.mapper.tb.TBDataMapper">
  <resultMap id="BaseResultMap" type="com.st.recommender.db.entity.tb.TBData">
    <result column="fans_nums" jdbcType="DOUBLE" property="fansNums" />
    <result column="pv_average" jdbcType="DOUBLE" property="pvAverage" />
    <result column="goods_average" jdbcType="DOUBLE" property="goodsAverage" />
    <result column="livehour_average" jdbcType="DOUBLE" property="livehourAverage" />
    <result column="pv" jdbcType="DOUBLE" property="pv" />
    <result column="live_duration" jdbcType="DOUBLE" property="liveDuration" />
    <result column="shelf_times" jdbcType="DOUBLE" property="shelfTimes" />
    <result column="speak_times" jdbcType="DOUBLE" property="speakTimes" />
    <result column="live_price" jdbcType="DOUBLE" property="livePrice" />
    <result column="history_price" jdbcType="DOUBLE" property="historyPrice" />
    <result column="real_price" jdbcType="DOUBLE" property="realPrice" />
    <result column="all_live_realsale" jdbcType="DOUBLE" property="allLiveRealsale" />
    <result column="speak_time_realsale" jdbcType="DOUBLE" property="speakTimeRealsale" />
    <result column="male_percent" jdbcType="DOUBLE" property="malePercent" />
    <result column="female_percent" jdbcType="DOUBLE" property="femalePercent" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.st.recommender.db.entity.tb.TBDataWithBLOBs">
    <result column="anchor_id" jdbcType="LONGVARCHAR" property="anchorId" />
    <result column="anchor_name" jdbcType="LONGVARCHAR" property="anchorName" />
    <result column="live_period" jdbcType="LONGVARCHAR" property="livePeriod" />
    <result column="top1_category_id" jdbcType="LONGVARCHAR" property="top1CategoryId" />
    <result column="top2_category_id" jdbcType="LONGVARCHAR" property="top2CategoryId" />
    <result column="top3_category_id" jdbcType="LONGVARCHAR" property="top3CategoryId" />
    <result column="top4_category_id" jdbcType="LONGVARCHAR" property="top4CategoryId" />
    <result column="top5_category_id" jdbcType="LONGVARCHAR" property="top5CategoryId" />
    <result column="top1_brand_id" jdbcType="LONGVARCHAR" property="top1BrandId" />
    <result column="top2_brand_id" jdbcType="LONGVARCHAR" property="top2BrandId" />
    <result column="top3_brand_id" jdbcType="LONGVARCHAR" property="top3BrandId" />
    <result column="top4_brand_id" jdbcType="LONGVARCHAR" property="top4BrandId" />
    <result column="top5_brand_id" jdbcType="LONGVARCHAR" property="top5BrandId" />
    <result column="live_channel" jdbcType="LONGVARCHAR" property="liveChannel" />
    <result column="live_tag" jdbcType="LONGVARCHAR" property="liveTag" />
    <result column="live_id" jdbcType="LONGVARCHAR" property="liveId" />
    <result column="live_title" jdbcType="LONGVARCHAR" property="liveTitle" />
    <result column="start_time" jdbcType="LONGVARCHAR" property="startTime" />
    <result column="shop_id" jdbcType="LONGVARCHAR" property="shopId" />
    <result column="product_id" jdbcType="LONGVARCHAR" property="productId" />
    <result column="item_title" jdbcType="LONGVARCHAR" property="itemTitle" />
    <result column="tao_root_category_id" jdbcType="LONGVARCHAR" property="taoRootCategoryId" />
    <result column="tao_root_category_name" jdbcType="LONGVARCHAR" property="taoRootCategoryName" />
    <result column="tao_leaf_category_id" jdbcType="LONGVARCHAR" property="taoLeafCategoryId" />
    <result column="tao_leaf_category_name" jdbcType="LONGVARCHAR" property="taoLeafCategoryName" />
    <result column="isshelf" jdbcType="LONGVARCHAR" property="isshelf" />
    <result column="isspeak" jdbcType="LONGVARCHAR" property="isspeak" />
    <result column="customized_item_rights" jdbcType="LONGVARCHAR" property="customizedItemRights" />
    <result column="brand_id" jdbcType="LONGVARCHAR" property="brandId" />
    <result column="brand_area" jdbcType="LONGVARCHAR" property="brandArea" />
    <result column="age_fit" jdbcType="LONGVARCHAR" property="ageFit" />
    <result column="gender_fit" jdbcType="LONGVARCHAR" property="genderFit" />
    <result column="age_top1" jdbcType="LONGVARCHAR" property="ageTop1" />
    <result column="age_top2" jdbcType="LONGVARCHAR" property="ageTop2" />
    <result column="age_top3" jdbcType="LONGVARCHAR" property="ageTop3" />
    <result column="label" jdbcType="LONGVARCHAR" property="label" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    fans_nums, pv_average, goods_average, livehour_average, pv, live_duration, shelf_times, 
    speak_times, live_price, history_price, real_price, all_live_realsale, speak_time_realsale, 
    male_percent, female_percent
  </sql>
  <sql id="Blob_Column_List">
    anchor_id, anchor_name, live_period, top1_category_id, top2_category_id, top3_category_id, 
    top4_category_id, top5_category_id, top1_brand_id, top2_brand_id, top3_brand_id, 
    top4_brand_id, top5_brand_id, live_channel, live_tag, live_id, live_title, start_time, 
    shop_id, product_id, item_title, tao_root_category_id, tao_root_category_name, tao_leaf_category_id, 
    tao_leaf_category_name, isshelf, isspeak, customized_item_rights, brand_id, brand_area, 
    age_fit, gender_fit, age_top1, age_top2, age_top3, label
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.st.recommender.db.entity.tb.TBDataExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from taobao_ai_data001
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.st.recommender.db.entity.tb.TBDataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from taobao_ai_data001
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="com.st.recommender.db.entity.tb.TBDataExample" resultType="java.lang.Long">
    select count(*) from taobao_ai_data001
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>